* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header-container {
    background-color: #003366;  
    padding: 20px 0;           
    margin: 0;               
    width: 100%;              
    display: block;           
    position: relative;      
}

.body-container{
    display: flex; 
    min-height: 100vh; 
    justify-content: center; 
    align-items: center;
}

main, .main-content {
    padding: 20px;
    padding-bottom: 80px; 
}


.ant-layout-container {
    display: flex;
    min-height: 100vh;
}


.ant-layout-sider {
    width: 200px; 
    background-color: #000; 
    color: white;
    transition: width 0.2s ease; 
    flex-shrink: 0;
    overflow-x: hidden; 
}

.ant-layout-sider.collapsed {
    width: 64px; 
}

.ant-layout-main {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
}

.ant-layout-content {
    flex-grow: 1; 
    background-color: #1f1f1f; 
    color: #fff;
}

.ant-layout-header {
    height: 64px;
    background-color: #003366; 
    color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.ant-layout-header h1 {
    margin: auto; 
    text-align: center;
}

.header-placeholder {
    align-items: right;
    align-content: right;
}


.ant-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ant-menu-item {
    height: 40px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ant-layout-sider.collapsed .nav-label {
    display: none;
}

#toggleButton {
    width: 48px; 
    height: 48px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: white; 
    font-size: 24px; 
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

#toggleButton:hover {
    background-color: rgba(255, 255, 255, 0.288); 
}



